/* Style the image */
img {
    width: 300px; /* Adjust the width as needed */
    border: 3px solid #ccc; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  .image-container {
    text-align: center;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
     
  .header {
    overflow: hidden; /* Clear floats */ 
  }
  .header nav {
    float: right; /* Align navigation to the right */
  }
  .header nav a {
    text-decoration: none; /* Remove underline from links */
    color: #6c757d; /* Gray text color */
    margin-left: 10px; /* Add spacing between links */
    font-size: 16px; /* Medium font size */
    
  }
  
  .header nav a:hover {
    color: #14A800; 
  }
  
  footer {
    text-align: center;
  }
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }